<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="ru.stoliarenko.gb.spring.task1"/>

    <bean id="shellBox"
          factory-bean="gunsConfiguration"
          factory-method="getBoxOfShells"/>
    <bean name="shotgun"
          factory-bean="gunsConfiguration"
          factory-method="getPlainOldShotgun">
        <constructor-arg ref="shellBox"/>
    </bean>

</beans>